.Menu {
  display: flex;
  margin-left: 5px;
  height: 40px;
}

.Menu > button {
  border: none;
  background-color: white;
  font-family: "concon";
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 15px;
}

.Menu > button:hover {
  color: rgb(0, 183, 255);
}

.Menu > button:focus {
  color: rgb(0, 183, 255);
  border-bottom: 3px solid rgb(0, 183, 255);
}

.Menu > button:active {
  font-size: 1.4em;
}
